---
import BaseHead from "../components/BaseHead.astro"
import BlogLayout from "./BlogLayout.svelte"
const { content } = Astro.props
import "../styles/Blog.scss"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title={`${content.title} @ Nat3z`} description={content.description} />
</head>
<body>
	<BlogLayout title={content.title} published={content.published} lastupdated={content.lastupdated} outdated={content.outdated} client:load>
    <slot></slot>
  </BlogLayout>
</body>
</html>