---
import BaseHead from "../components/BaseHead.astro"
import BlogLayout from "./BlogLayout.svelte"
const {frontmatter} = Astro.props
import "../styles/Blog.scss"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title={frontmatter.title + " @ Nat3z"} description={frontmatter.description} />
</head>
<body>
	<BlogLayout title={frontmatter.title} published={frontmatter.pubDate} lastupdated={frontmatter.lastupdated} outdated={frontmatter.outdated} client:load>
    <slot></slot>
  </BlogLayout>
</body>
</html>